@use 'sass:map';
@use 'sass:math';
@use '@angular/material' as mat;

$in-norm: mat.define-palette(mat.$light-blue-palette);
$over-norm: mat.define-palette(mat.$amber-palette);
$accent-norm: mat.define-palette(mat.$blue-palette,);
$accent-over-norm: mat.define-palette(mat.$red-palette);
$progress: mat.define-palette(mat.$lime-palette);

@mixin color-modifiers($prefix, $attribute: 'background') {
  @for $i from 100 through 900 {
    [#{$prefix}="#{$i}"] {
      #{$attribute}: linear-gradient(135deg, mat.get-color-from-palette($in-norm, 900) 0%, mat.get-color-from-palette($in-norm, $i) 100%);
    }
    [#{$prefix}="-#{$i}"] {
      #{$attribute}: linear-gradient(135deg, mat.get-color-from-palette($over-norm, 900) 0%, mat.get-color-from-palette($over-norm, math.abs($i)) 100%);
    }
    [#{$prefix}-accent="#{$i}"] {
      #{$attribute}: linear-gradient(135deg, mat.get-color-from-palette($accent-norm, 900) 0%, mat.get-color-from-palette($accent-norm, $i) 100%);
    }
    [#{$prefix}-accent="-#{$i}"] {
      #{$attribute}: linear-gradient(135deg, mat.get-color-from-palette($accent-over-norm, 900) 0%, mat.get-color-from-palette($accent-over-norm, math.abs($i)) 100%);
    }
  }
}
