@use 'src/mixins' as mx;

:host {
  mat-toolbar {
    border-radius: 1rem;
    position: relative;
    display: flex;
    column-gap: 0.3em;
    justify-content: space-between;
    @include mx.color-modifiers($prefix: 'level');

    [progress] {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 1rem;
      background-color: rgba(0, 0, 0, 0.2);
    }

    [user] {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.1rem;
    }

    [total_work] {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.1rem;
    }

    [active_task] {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.1rem;
      height: 100%;
      padding: 0 1rem;

      [task_name] {
        font-variant: small-caps;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      [task_time] {
        font-size: 95%;
      }
    }
  }
}
