@use 'src/mixins' as mx;
@use 'sass:map';
@use 'sass:math';
@use '@angular/material' as mat;
$font-color: mat.define-palette(mat.$amber-palette);
:host {
  mat-toolbar {
    border-radius: 1rem;
    position: relative;
    display: grid;
    column-gap: 0.3em;
    grid-template-columns: 0.2fr 0.6fr 0.2fr;
    justify-content: space-between;
    @include mx.color-modifiers($prefix: 'level');
    font-family: "Share Tech Mono";
    font-stretch: condensed;
    font-size: 1.5em;
    text-transform: uppercase;
    color: mat.get-color-from-palette($font-color, 100);

    [progress] {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 1rem;
      background-color: rgba(0, 0, 0, 0.2);
    }

    [user] {
      display: flex;
      justify-content: start;
      align-items: left;
      column-gap: 0.1rem;
    }

    [total_work] {
      display: flex;
      justify-content: end;
      align-items: right;
      column-gap: 0.1rem;
      [hours] {
        font-size: 1.5em;
      }
    }

    [active_task] {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.4rem;
      height: 100%;
      padding: 0 1rem;
      overflow: hidden;

      [task_name] {
        font-variant: small-caps;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      [task_time] {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 95%;
      }
    }
  }
}
