Screen {
    overflow: hidden;
    layout: vertical;
}

#heading {
    layout: horizontal;
    height: 6;
}

#heading>.box {
    height: 100%;
    width: 1fr;
}

#status_info {
    padding: 1;
    layout: grid;
    grid-size: 3;
    align: left middle;
}

#status_info>.box {
    height: 100%;
    align: left middle;
}

#content {
    layout: horizontal;
    padding: 1 1 1 0;
}

#content>.box {
    height: 100%;
    width: 1fr;
    scrollbar-gutter: stable;
}

#content .scroll {
    overflow-y: auto;
    scrollbar-size: 1 1;
}

#content .hidden {
    visibility: hidden;
    width: 0;
}

#content .hidden.scroll {
    overflow: hidden;
}