Screen {
    overflow: hidden;
    layout: vertical;
}

#heading {
    layout: horizontal;
    height: 6;
    overflow: hidden;
}

#heading>.box {
    height: 100%;
    width: 1fr;
}

#status_info {
    padding: 2 1 0 1;
    layout: vertical;
    align: left middle;
}

#status_info>.box {
    height: 1fr;
    align: left middle;
}

#content {
    layout: horizontal;
    padding: 1 1 1 0;
    height: 90%;
    overflow: hidden;
}

#content>.box {
    height: 100%;
    width: 1fr;
    scrollbar-gutter: stable;
}

#content .scroll {
    overflow-y: auto;
    scrollbar-size: 1 1;
}

#content .hidden {
    visibility: hidden;
    width: 0;
}

#content .hidden.scroll {
    overflow: hidden;
}

.h1 {
    border-bottom: solid red;
    color: green;
}