
[content] {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1em;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;

  >div {
    text-align: center;

    &[summary] {
      overflow: hidden;
      text-transform: uppercase;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      z-index: 10;

    }
    &[info] {
      width: 100%;
      height: 2rem;
      z-index: 10;

    }
  }

  [overlay] {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
  }

  [progress] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:hover {
    cursor: pointer;

    [overlay] {
      display: block;
    }
  }
}
